body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

form label {
  margin-right: 10px;
}

form input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #103257;
}

.table-container {
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 40px;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  width: fit-content;
}

table th {
  background-color: #bb9898;
}

table td input[type="checkbox"] {
  cursor: pointer;
}

button {
  padding: 5px 10px;
  background-color: #1490bd;
  color: #99b328;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}
